@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1800px;
    margin: 0 auto;
}
.covid {
    color: #FF0060;
}
.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    border-radius: 10px;
    flex: 1 1;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    border-top: 10px solid red;
    padding: 16px;
    min-width: 350px;
    margin-top: 16px;
}
.card:not(:last-child) {
    margin-right: 10px
}
.card.recovered {
    border-color: #00DFA2;
}
.card.deaths,.card.cases {
    border-color: #FF0060;
}
.card .title {
    color: rgba(0, 0, 0, 0.54);
    font-size: 22px;
}
.card.recovered .today {
    color: #00DFA2;
}
.card.deaths .today,.card.cases .today {
    color: #FF0060;
}
.card .total {
    color: rgba(0, 0, 0, 0.54);
    font-size: 18px;
    font-weight: bold;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #FF0060;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #FF0060;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #FF0060;
}

/* Table Styles */

.table-wrapper {
    max-height: 500px;
    overflow: scroll;
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table thead {
    position: sticky;
    top: 0;
}

th {
    width: 20%;
    font-size: 16px;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 16px;
}

.fl-table thead th {
    color: #ffffff;
    background: #FF0060;
}


.fl-table thead th:nth-child(even) {
    color: #ffffff;
    background: #00DFA2;
}

.fl-table tr:nth-child(even) {
    background: #ff006012;
}
.fl-table tr:nth-child(odd) {
    background: #00dfa214;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #00dfa214;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        background: #ff006012;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}